<div class="inner-grid__card">
  <div class="wrap-img"> 
    <img src="assets/{{ collection.image }}" alt="" width="" height="">
  </div>
  <div class="inner-grid__card--info pt-2">
    <p class="mb-1">{{ collection.title }} </p>
    </div>
</div>
