body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  background-color: #111111;
  z-index: 1;
}
.app:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  background-color: #000000;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}
.header.transparent {
  background-color: rgba(102, 101, 101, 0.8);
}
.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo a {
  text-decoration: none;
  color: #ffffff;
}
.header .logo a span:first-child {
  font-size: 24px;
  font-weight: bold;
}
.header .logo a span:last-child {
  font-size: 14px;
}
.header .navigation {
  border: 1px solid rgb(82, 23, 131);
  border-radius: 2rem;
  color: #fff;
  padding: 0.5rem 1rem;
}
.header .navigation ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.header .navigation ul li a {
  text-decoration: none;
  color: #ffffff;
}
.header .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .icons a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
}
.footer {
  padding: 20px;
  text-align: center;
  color: #ffffff;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}
.footer__left {
  text-align: left;
}
.footer__title {
  font-size: 24px;
  font-weight: bold;
}
.footer__menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__nav, .footer__policies, .footer__social {
  margin-top: 20px;
}
.footer__nav-list, .footer__policies-list, .footer__social-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__nav-item, .footer__policies-item, .footer__social-item {
  margin: 0 10px;
}
.footer__nav-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.footer__nav-link:hover {
  border: 0;
}
.footer__nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgb(82, 23, 131), #ffffff, rgb(82, 23, 131));
}
.footer__policies-link, .footer__social-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.75rem;
}
.footer__policies-link:hover, .footer__social-link:hover {
  text-decoration: underline;
}
.footer__payments {
  margin-top: 20px;
  text-align: center;
}
.footer__payments-text {
  margin-bottom: 10px;
}
.footer__payments-icons {
  max-width: 100px;
}
.footer__subscription {
  margin-top: 20px;
}
.footer__subscription-title {
  font-size: 18px;
  font-weight: bold;
}
.footer__subscription-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer__subscription-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}
.footer__subscription-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.footer__subscription-button:hover {
  background-color: #0056b3;
}
.footer__contact {
  margin-top: 20px;
}
.footer__contact-text {
  margin: 0;
}
.footer__contact-link {
  text-decoration: none;
  color: #007bff;
}
.footer__contact-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
