/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./assets/scss/app.scss ***!
  \*******************************************************************************************************************************************/
.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.m-4 {
  margin: 2rem;
}

.m-5 {
  margin: 2.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

@media (min-width: 0) {
  .d-xs-none {
    display: none !important;
  }
}

@media (min-width: 0) {
  .d-xs-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1400px) {
  .d-xxl-none {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .d-xxl-block {
    display: block !important;
  }
}

.d-none.d-lg-block {
  display: none !important;
}
@media (min-width: 992px) {
  .d-none.d-lg-block {
    display: block !important;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

.app {
  position: relative;
  background-color: #111;
  z-index: 1;
}
.app::before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 600 600%27%3E%3Cfilter id=%27a%27%3E%3CfeTurbulence type=%27fractalNoise%27 baseFrequency=%27.65%27 numOctaves=%273%27 stitchTiles=%27stitch%27/%3E%3C/filter%3E%3Crect width=%27100%25%27 height=%27100%25%27 filter=%27url%28%23a%29%27/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.25rem;
  overflow: hidden;
}

.main-header {
  display: flex;
  align-items: center;
}

.header {
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
  overflow: hidden;
}
.header--transparent {
  background-color: rgba(120, 120, 120, 0.3);
  backdrop-filter: blur(10px);
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__logo {
  display: inline-block;
  padding: 1.25rem;
  vertical-align: middle;
}
.header__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.header__logo span {
  font-family: "PODIUM Sharp 3.11";
  font-size: 2rem;
  display: inline-block;
  padding-left: 0.938rem;
  border-left: 1px solid #772bf2;
  margin-left: 10px;
}
.header__navigation a {
  text-decoration: none;
  color: #fff;
}
.header__navigation {
  border: 1px solid #772bf2;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  margin: auto;
}
.header__navigation ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__icon-car {
  background-color: #772bf2;
  border-radius: 8px;
  text-align: center;
  line-height: 0;
  margin-left: auto;
}
.header__toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: block;
}
.header__list {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  padding: 1rem;
}
.header__list a {
  color: #fff;
  text-decoration: none;
}
.header__list.active {
  display: flex;
}
@media (min-width: 992px) {
  .header .main-header {
    display: block;
  }
  .header__toggle {
    display: none;
  }
  .header__list {
    display: block;
    flex-direction: column;
    gap: 0.5rem;
    background-color: transparent;
    position: relative;
    width: auto;
    padding: 1rem;
    margin-left: auto;
  }
}

.wrap-icons {
  display: flex;
}
.wrap-icons img {
  max-width: 25px;
  width: 100%;
  height: auto;
  margin-left: 0.5rem;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: #772bf2;
}
.marquee__wrapper {
  animation: marquee 10s linear infinite;
  display: flex;
  align-items: center;
}
.marquee__wrapper div {
  display: flex;
  align-items: center;
  padding-right: 1.25rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.marquee__wrapper div img {
  margin-right: 18px;
}
.marquee__element {
  white-space: nowrap;
  width: var(--item-width);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.marquee__element--title {
  font-size: 3rem;
}

.slide .marquee {
  background-color: transparent;
  margin: 0.8rem 0;
}

.banner {
  position: relative;
}
.banner__button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.banner__button button {
  background-color: #772bf2;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.938rem;
  border: 0;
  border-radius: 4px;
  font-family: "PODIUM Sharp 3.11";
  font-size: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.conatiner-cards .inner-grid {
  --min-col-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(var(--min-col-size), 100%), 1fr));
  gap: 1.5rem;
}
.conatiner-cards .inner-grid__card {
  font-weight: 600;
  margin-bottom: 30px;
}
.conatiner-cards .inner-grid__card .wrap-img {
  aspect-ratio: 9/11.5;
  overflow: hidden;
  position: relative;
  outline: 4px solid #5d50aa;
  border-radius: 6px;
}
.conatiner-cards .inner-grid__card .wrap-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
  transition: all 0.2s ease;
}
.conatiner-cards .inner-grid__card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conatiner-cards .inner-grid__card__info--icon {
  width: 50px;
  height: 50px;
  background-color: #762bfb;
  background-image: url(../07d70762871d0836b3c0.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 66%;
  display: inline-flex;
  cursor: pointer;
  border-radius: 50%;
}
.conatiner-cards .inner-grid__card:hover .wrap-img {
  outline-color: #762bfb;
}
.conatiner-cards .inner-grid__card:hover .wrap-img img {
  transform: scale(1.1);
}
.conatiner-cards .view-all-btn {
  display: block;
  margin: 20px auto;
  padding: 13px 20px;
  background-color: #762bfb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(1.25rem, -0.9375rem + 5vw, 1.8rem);
  font-family: "PODIUM Sharp 3.11";
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}
.conatiner-cards .view-all-btn:hover {
  background-color: #5d50aa;
}

.container-collections {
  position: relative;
}
.container-collections .inner-grid {
  --min-col-size: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(var(--min-col-size), 100%), 1fr));
  gap: 1.5rem;
}
.container-collections .inner-grid__card {
  margin-bottom: 30px;
  position: relative;
}
.container-collections .inner-grid__card .wrap-img {
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 6px;
}
.container-collections .inner-grid__card .wrap-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
  transition: all 0.2s ease;
  transform: scale(1.5);
}
.container-collections .inner-grid__card--info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: clamp(1.25rem, -0.9375rem + 5vw, 2rem);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
.container-collections .inner-grid__card:hover img {
  transform: scale(1.7);
}
.container-collections:before {
  position: absolute;
  content: "";
  width: 526px;
  background: radial-gradient(ellipse at center, #752df7 0%, rgba(117, 45, 247, 0) 70%);
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 2/1.5;
  top: 5%;
}

.title-section {
  font-family: "PODIUM Sharp 3.11";
  font-size: clamp(1.8rem, -0.95rem + 8.8vw, 4rem);
  text-transform: uppercase;
  width: auto;
  justify-content: center;
  text-align: center;
  line-height: 1;
  position: relative;
  align-items: center;
  font-family: "PODIUM Sharp 3.11";
  display: flex;
  letter-spacing: 1px;
}
.title-section:before, .title-section:after {
  content: "";
  background-image: url(../9771fb42263ffc3f9f8e.svg);
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  margin: 0 14px;
  max-width: 60px;
  aspect-ratio: 1;
}

.footer {
  padding: 1.25rem;
  text-align: center;
  color: #fff;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
}
.footer__logo img {
  margin-right: 0.675rem;
}
.footer__logo span {
  border-left: 1px solid #772bf2;
  line-height: 0;
  display: inline-block;
}
.footer__left {
  text-align: start;
}
.footer__title {
  font-size: 24px;
  font-weight: bold;
}
.footer__menu {
  padding: 1.25rem;
}
.footer__nav, .footer__policies, .footer__social {
  margin-top: 20px;
}
.footer__nav-list, .footer__policies-list, .footer__social-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer__nav-item, .footer__policies-item, .footer__social-item {
  margin: 0 10px;
}
.footer__nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.footer__nav-link:hover {
  border: 0;
}
.footer__nav-link:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #772bf2, #fff, #772bf2);
}
.footer__policies-link, .footer__social-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.625rem;
}
.footer__policies-link:hover, .footer__social-link:hover {
  text-decoration: underline;
}
.footer__payments {
  margin-top: 20px;
  text-align: center;
  display: flex;
}
.footer__payments-text {
  margin-bottom: 10px;
  font-size: 0.625rem;
}
.footer__payments-icons {
  max-width: 100px;
}
.footer__subscription {
  margin-top: 20px;
}
.footer__subscription-title {
  font-size: 0.625rem;
  font-weight: bold;
  text-align: start;
}
.footer__subscription-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer__subscription-input {
  padding: 0.625rem;
  background-color: rgb(30.6, 30.6, 30.6);
  border: 0;
  border-radius: 4px 4px 4px 0;
  color: #772bf2;
}
.footer__subscription-input:focus-visible {
  border: 0;
  outline: 0;
}
.footer__subscription-button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(30.6, 30.6, 30.6);
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
.footer__contact {
  margin-top: 20px;
}
.footer__contact-text {
  margin: 0;
  font-size: 0.625rem;
}
.footer__contact-link {
  text-decoration: none;
  color: #007bff;
  font-size: 0.625rem;
}
.footer__contact-link:hover {
  text-decoration: underline;
}
.footer .header__navigation {
  border: 0;
}

@media (min-width: 992px) {
  .footer__container {
    flex-direction: row;
  }
  .footer__nav-list, .footer__policies-list, .footer__social-list {
    flex-direction: row;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* CSS Document */
@font-face {
  font-family: "PODIUM Sharp 3.11";
  src: url(../5f6f0257f41907d78c06.woff2) format("woff2"), url(../a00f6ebf1f6f8356708f.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kallisto-bold";
  src: url(../63294d995d45d49c5551.woff2) format("woff2"), url(../00e0aa2088af2783b19e.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kallisto-medium";
  src: url(../7ff4128a449d53cb03ee.woff2) format("woff2"), url(../ae5c81966789e2fdf697.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kallisto-light";
  src: url(../03d5936963a43f47d009.woff2) format("woff2"), url(../c9912d3648356bcd96fc.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kallisto-thin";
  src: url(../1fb16ad7c5b816fb1f7f.woff2) format("woff2"), url(../47af9747a4536a08eca7.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
