// Variables
$bg-black-color: #000000;
$bg-white-color: #ffffff;
$bg-purple-color: rgb(82, 23, 131);
$text-color: #ffffff;
$font-size-base: 1.25rem;
$font-size-small: 0.75rem;
$logo-font-size: 24px;
$logo-font-weight: bold;
$logo-small-font-size: 14px;
$nav-gap: 15px;
$icon-color: #ffffff;
$icon-size: 24px;
$padding-10: 10px;
$padding-20: 20px;
$breakpoint-mobile: 768px;


