<div class="container">
    {% assign image = "assets/hero_banner_img.avif" %}
        <div class="banner">
            <img src="{{ image | asset_url }}" alt="" width="100%" height="" />
            <div class="banner__button">
                <button>
                    view the collection
                </button>
            </div>
        </div>

</div>