{% comment %} Footer Section {% endcomment %}
<footer class="footer">
  <div class="footer__container">
    <div class="footer__left">
      <h2 class="footer__title">STORE</h2>
      <div class="footer__contact">
        <span class="footer__contact-text">
            © 2024, Shuffle.store Operated by 
            Studio Plaid. Need help? 
            Email 
            </span>
            <a href="mailto:support@shuffle.store" class="footer__contact-link">
                support@shuffle.store</a>
      </div>
    </div>
    <div class="footer__menu">
        <div class="footer__nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a href="/" class="footer__nav-link">HOME</a></li>
              <li class="footer__nav-item"><a href="/cart" class="footer__nav-link">CART</a></li>
              <li class="footer__nav-item"><a href="/collections/all" class="footer__nav-link">ALL PRODUCTS</a></li>
              <li class="footer__nav-item"><a href="/collections" class="footer__nav-link">COLLECTIONS</a></li>
            </ul>
          </div>
        <div class="footer__policies">
            <ul class="footer__policies-list">
                <li class="footer__policies-item"><a href="/policies/refund-policy" class="footer__policies-link">REFUND POLICY</a></li>
                <li class="footer__policies-item"><a href="/policies/privacy-policy" class="footer__policies-link">PRIVACY POLICY</a></li>
                <li class="footer__policies-item"><a href="/policies/terms-of-service" class="footer__policies-link">TERMS OF SERVICE</a></li>
            </ul>
            </div>
            <div class="footer__payments">
            <p class="footer__payments-text">We accept all major cards, PayPal, and crypto</p>
            <img src="URL_TO_CRYPTO_ICONS" alt="Cryptocurrency Icons" class="footer__payments-icons">
        </div>
    </div>
    <div>
        <div class="footer__subscription">
        <h3 class="footer__subscription-title">Receive drop notifications</h3>
        <form action="/subscribe" method="POST" class="footer__subscription-form">
            <input type="email" name="email" placeholder="Enter your email" class="footer__subscription-input">
            <button type="submit" class="footer__subscription-button">Submit</button>
        </form>
        </div>
        <div class="footer__social">
        <ul class="footer__social-list">
            <li class="footer__social-item"><a href="https://facebook.com" class="footer__social-link">FACEBOOK</a></li>
            <li class="footer__social-item"><a href="https://twitter.com" class="footer__social-link">X (TWITTER)</a></li>
            <li class="footer__social-item"><a href="https://instagram.com" class="footer__social-link">INSTAGRAM</a></li>
        </ul>
        </div>
    </div>
  </div>
</footer>