<header class="header">
    <div class="header-inner">
        <div class="logo">
            <a href="{{ shop.url }}">
                <img src="/assets/shuffle_logo.svg" alt="Logo Shuffle" width="300" height="32">
            </a>
        </div>
        <nav class="navigation">
            <ul>
                <li>We Accept</li>
                <li>
                    <span>
                        <a href="#" ><i>◙</i></a>
                    </span>
                </li>
                
                <li>
                    <span>
                        <a href="#" ><i>◙</i></a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#" ><i>◙</i></a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="#" ><i>◙</i></a>
                    </span>
                </li>
            </ul>
        </nav>
        <div class="header-icons">
            <a href="#">All products</a>
            <a href="#">Collections</a>
            <a href="#" ><i>◙</i></a>
        </div>
    </div>
</header>