<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  

  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  <div class="app">
      {% include 'header' %}
      {% include 'banner' %}
      {% include 'slide' %}
      {% include 'featured-products' %}
      {% include 'collections' %}
      {% include 'footer' %}
  </div>

  <script src="/js/main.js" defer></script>
</body>

</html>